<div class="hero-wrap js-fullheight d-sm-none d-lg-block">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
      <div class="col-md-7">
        <h1><%= t "index.title" %></h1>
        <span class="subheading"><%= t "index.slogan" %></span>
      </div>
      <div class="col-md-4 create-cv ml-auto">
        <div class="subheading"><%= t "index.booking_now" %></div>
        <%= link_to "#list", class: "icon-video d-flex align-items-center justify-content-center" do %><!-- change -->
          <span class="fa fa-play"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<section id="list" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center">
        <span class="subheading"><%= t "index.list" %></span>
        <h2 class="mb-4"><%= t "menu_list.spaces" %></h2>
      </div>
    </div>
    <div class="row">
      <%= render partial: "spaces/space", collection: @spaces %>
    </div>
    <div class="w-100 text-center"><%= link_to t("btn.more"), spaces_path, class: "btn btn-primary" %></div><!-- change -->
  </div>
</section>
