<div class="hero-wrap js-fullheight d-sm-none d-lg-block">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
      <div class="col-md-7">
        <h1><%= t "index.title" %></h1>
        <span class="subheading"><%= t "index.slogan" %></span>
      </div>
      <div class="col-md-4 create-cv ml-auto">
        <div class="subheading"><%= t "index.booking_now" %></div>
        <%= link_to "#list", class: "icon-video d-flex align-items-center justify-content-center" do %><!-- change -->
          <span class="fa fa-play"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<section id="list" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center">
        <span class="subheading"><%= t "index.list" %></span>
        <h2 class="mb-4"><%= t "menu_list.spaces" %></h2>
      </div>
    </div>
    <div class="row">
      <% for i in 0..8 %>
				<div class="col-md-4">
					<div class="project-wrap">
						<%= link_to "path", class: "img" do %>
							<%= image_tag "wallpaper.jpg", class: "img" %>
							<span class="price"><%= t("price", price: exchange_money(3000000)) %></span><!-- change -->
						<% end %>
						<div class="text p-4">
              <div class="type"><i class="fa fa-map-marker"></i><%= ["Da Nang", "Ha Noi", "HCM"].sample %></div><!-- change -->
							<h3><a href="#"><%= Faker::Company.name + " " + Faker::Company.suffix %></a></h3><!-- change -->
              <div class="text-center">
                <%= link_to t("btn.book"), "#", class: "btn btn-primary" %><!-- change -->
              </div>
						</div>
					</div>
				</div>
			<% end %>
    </div>
    <div class="w-100 text-center"><%= link_to t("btn.more"), "#", class: "btn btn-primary" %></div><!-- change -->
  </div>
</section>
